i.sz {font-size: 20px;color: white;}
i.cl {font-size: 1em;color: white;}
i.sm {font-size: 1em;color: red;}
body{
	background-color: #E9E9E9;
}
#dash{
	background-color: #1C9F99;
	padding-top: 0px;
	width: 99.5%;
	border-radius: 05px;
	color: white;
	padding: 01px;
	padding-left: 20px;

}
#leftbar{
	background-color: #25DAD1;
	border-radius: 5px;
	height:558px;
	max-width:200px;
}
#upperbar{
	width: 100%;
	text-align: center;
	height:60px;
	background:linear-gradient(to right,#FFFF80, blue, cyan, blue,#FFFF80);
}
#topleft{
	background-color: #D7E3FF;
	width: 100%;
	height: 208px;
	padding-left: 3px;
	padding-top: 02px;
}
.btn-def {
  transition:0.5s;
  position: absolute;
  left: 15px;
  color: #333;
  background-color: white;
  border-color: #000;
  display: block;
  min-width: 185px;
  text-align: left;
  padding-left: 20px;
  box-shadow:0 5px 5px 0 rgb(30, 119, 119),0 5px 15px 0 !important;
}
.btn-def:hover{
  transition:0.5s;
  position: absolute;
  left: 30px;
  color: #333;
  background-color: gold  !important;
  border-color: gold;
  display: block;
  min-width: 185px;
  font-weight: bold;
  box-shadow:0 5px 5px 0 rgb(119, 119, 0),0 5px 15px 0 !important;
}

#mybr{
	padding-top: 34px;
}
a:hover{
	text-decoration: none;
}

h4 {
    color: white;
    text-shadow: 4px 4px 4px #000000;
}

	#holder{
		width: 100%;
		height: 100px;
		color: white;
		border-radius: 10px;
		border-color: yellow;
		border-bottom-left-radius: 50px;
		border-style: groove;
		background: linear-gradient(blue,black);
	}
	#holder2{
		width: 100%;
		height: 100px;
		color: white;
		border-radius: 10px;
		border-color: yellow;
		border-bottom-right-radius: 50px;
		border-style: groove;
		background: linear-gradient(blue,black);
	}

	#stl-hld{
		padding: 10px;
		padding-top: 01px;
	}
	#dec{
		padding-left: 3px;
		padding-top: 15px;
		text-align: center;
		font-size: 20px;
		color: blue;
	}
	#dec2{
		text-align: center;
	}

	#mainp{
		background-color:#000000;
		border-radius: 10px;
		width: 99.5%;
		height: 530px;
		box-shadow:0 16px 24px 0 rgba(0,0,0,0.22),0 20px 55px 0 rgba(0,0,0,0.41)!important
	}
/* designs the check in section in main ====check-in file*/
	#checkin{
		border-top-right-radius:5px;
		width: 99.5%;
		height: 40px;
		text-align: center;
		font-weight: bolder;
		padding: 5px;
		display: block;
		float: left;
		color: white; 
		text-shadow: 4px 4px 4px #000000;
		text-decoration: none;
	}
	
	#checkout{
		background: linear-gradient(#555555,#555555);
		width: 100%;
		border-top-right-radius:5px;
		border-bottom-left-radius:45px;
		height: 40px;
		text-align: center;
		font-weight: bolder;
		padding: 5px;
		display: block;
		float: right;
		text-shadow: 4px 5px 4px #696969;
		text-decoration: none;
		color: white;
	}
	#checkout:hover{
		background: linear-gradient(#FFCC00,#E8B900);
		border-top-right-radius:5px;
		border-bottom-left-radius:45px;
		width: 100%;
		height: 40px;
		text-align: center;
		font-weight: bolder;
		padding: 5px;
		display: block;
		float: right;
		text-shadow: 4px 5px 4px #696969;
		text-decoration: none;
		color: white;
	}

	.col-mm-6{
		position: relative;
  		min-height: 1px;
  		width: 50%;
  		float: left;
	}

	/* designed the book-look in check in file. */
	#des-rt{
		width: 100%;
		height: 300px;
		box-shadow:0 2px 5px 0 rgb(30, 119, 119),0 5px 0px 0 !important;
		border-top-left-radius: 1000px;
		border-bottom-right-radius: 1000px;
		background-color: #00AEAE;
	}
	#des-lt{
		width: 100%;
		height: 300px;
		box-shadow:0 2px 5px 0 rgb(30, 119, 119),0 5px 0px 0 !important;
		border-top-right-radius: 1000px;
		border-bottom-left-radius: 1000px;
		background-color: #00AEAE;
	}

	/* designs the layout of text fields  in main ====check-out file====*/
	#pos{
		position: relative;
  		min-height: 1px;
  		width: 82%;
  		 padding-left: 114px;
  		 padding-top: 80px;
  		
	}
	#pos2{
		position: relative;
  		min-height: 1px;
  		width: 85%;
  		 padding-left: 120px;
  		 padding-top: 45px;
  		 font-weight: bolder;
  		 font-family: sans-serif; 
	}


/* designs the check out section in main */
	#checkin2{
		
		background: linear-gradient(#555555,#555555);
		border-top-left-radius: 5px;
		border-bottom-right-radius:45px;
		width: 99.5%;
		height: 40px;
		text-align: center;
		font-weight: bolder;
		padding: 5px;
		display: block;
		float: left;
		color: white; 
		text-shadow: 4px 4px 4px #000000;
		text-decoration: none;
	}
	#checkin2:hover{
		background: linear-gradient(#FFCC00,#E8B900);
		border-bottom-right-radius:45px;
		width: 99.5%;
		height: 40px;
		text-align: center;
		font-weight: bolder;
		padding: 5px;
		display: block;
		float: left;
		color: white; 
		text-shadow: 4px 4px 4px #000000;
		text-decoration: none;
	}
	#checkout2{
		width: 100%;
		height: 40px;
		text-align: center;
		font-weight: bolder;
		padding: 5px;
		display: block;
		float: right;
		text-shadow: 4px 5px 4px #696969;
		text-decoration: none;
		color: white;
	}
	
	#des-lt-co{
		width: 100%;
		height: 350px;
		box-shadow:0 2px 5px 0 rgb(30, 119, 119),0 5px 0px 0 !important;
		border-top-right-radius: 1000px;
		background-color: #00AEAE;
	}
	#des-rt-co{
		width: 100%;
		height: 350px;
		box-shadow:0 2px 5px 0 rgb(30, 119, 119),0 5px 0px 0 !important;
		border-bottom-left-radius: 1000px;
		background-color: #00AEAE;
		}
#pos-co{
		position: relative;
  		min-height: 1px;
  		width: 78%;
  		 padding-left: 98px;
  		 padding-top: 41px;
}
#pos2-co{
		position: relative;
  		min-height: 1px;
  		width: 85%;
  		 padding-left: 120px;
  		 padding-top: 90px;
}
#last{
		color: #25DAD1;
		text-align: center;
		background-color: #25DAD1;
		border-radius: 5px;
		max-width:200px;
		height: 22px;
		box-shadow:0 16px 24px 0 rgba(0,0,0,0.22),0 20px 55px 0 rgba(0,0,0,0.41)!important
	}
	#last:hover{
		color: #000;
		background-color: #25DAD1;
		border-radius: 5px;
		max-width:200px;
		height: 22px;
		text-align: center;
		font-weight: bolder;
	}
	#butn{
				width: 60%;
				border-top-left-radius:50px;
				border-bottom-right-radius:50px; 
	}
	#book{
    width: 99.5%;
    height: 400px;
    background-color: #00AEAE;
    border-style: solid;
    border-width: 10px;
    border-color: #4C0000;    
    border-left-color:#660000;
    border-right-width: 3px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-right-style: dotted;
    }