
/* creates rectangle */
  .mybut {
  display: block;
  position:relative;
  width: 110px;
  padding-right:25px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  background:#f3961c; 
  text-decoration: none;
}

/* creates triangle */
.mybut:after {
  content:"";
  position:absolute;
  bottom:-1px; /* value = - border-top-width - border-bottom-width */
  left:71px; /* controls horizontal position */
  border-width:42px 38px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#f3961c transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

.mybut2 {
  position:relative;
  padding-right:5px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  display: block;
  width: 110px;
  background:#B1B1B1;
  text-decoration: none;
  }
  /* ====== creates rectangle =======*/
  .thisbut {
  display: block;
  position:relative;
  width: 110px;
  padding-right:25px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  background:#f3961c; 
  text-decoration: none;
}
.thisbut.right:after {
  position:absolute;
  border-style:solid;
}
.thisbut.right:after {
  content:"";
  top:11px; /* controls vertical position */
  right:-40px; /* value = - border-left-width - border-right-width */
  border-width:10px 0 10px 50px;
  border-color:transparent #f3961c;
}
#right{
  padding-left:5px;
  padding-right:5px;
}
.mybut.down:after {
 content:"";
  bottom:0px; /* controls vertical position */
  left:110px; /* value = - border-left-width - border-right-width */
  border-width:41px 0 0px 45px;
  border-color:transparent #f3961c;
  position:absolute;
  border-style:solid;
}
#mbr{
	padding-top: 2px;
}
a{
  font-weight: bold;
  font-size: 15px;
  color:#000000;
}
a:hover{
  font-weight: bolder;
  text-decoration: none;
  color: white;
}




/* formatting the result-set */

    #search-res{
      overflow-y: scroll;
       overflow-x: hidden;
       height: 465px;
       background-color: #000;
       width: 110%;
    }
    .result-box{
      padding: 10px;
      border-bottom: 1px #eee solid;
      min-width: 250px;
      /*margin-left: 200px;
      margin-right: 250px;*/

    }

    .result-box > .book-title{
      font-size: 180%;
      color: #fff !important;
    }

    .result-box > .book-category{
      font-size: 100%;
      letter-spacing: 1px;
      text-decoration: none;
      color: #eb2d7c;
    }

    .result-box > .book-author{
      /*font-family: "JosefinSans-Regular";*/
      font-size: 100%;
      color: #888;
    }
    .result-box >.book-publisher{
      color: #fff !important;
    }

    .book-availability{
      float: right;
    }
    .book-year{
      display: inline-block;
      background-color: #555;
      color: #fff;
      padding: 1px 5px;
      border-radius: 5px;
      font-size: 80%;
    }

    .book-shelf{
      display: inline-block;
      background-color: #BBBB00;
      color: #000;
      font-size: 80%;
      padding: 1px 5px;
      border-radius: 5px;
    }


    /* creates input alert box */

    .input-warning {
  position:relative;
  padding:15px;
  margin:1em 0 3em;
  color:#000;
  background:#f3961c; 
  border-radius:30px;
  margin-left:40px;
  width: 53%;
}

/* creates triangle */
.input-warning:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  left:40px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#f3961c transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

.input-warning:after {
  top:16px; /* controls vertical position */
  left:-40px; /* value = - border-left-width - border-right-width */
  bottom:auto;
  border-width:10px 50px 10px 0;
  border-color:transparent #f3961c;
}
.w3-card-16{box-shadow:0 16px 24px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21)!important}