body{
	background-color: #fff;
}

.btn-leakey{
	background-color: #f57057;
	color: #fff;
}

.btn-leakey:hover{
	color: #444;
	background-color: #fff;
}

#cover{
	padding: 100px;
	background-color: #f57057;
	color: #fff;
}