.row {
  margin-right: 15px;
  margin-left: 15px;
}

.col-sm-3, .col-sm-4 .col-sm-5, .col-sm-9, .col-sm-10 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-9, .col-sm-10, .col-sm-12{
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-10 {
    width: 81%;
  }
  .col-sm-9 {
    width: 71%;
  }
  .col-sm-5 {
    width: 67%;
  }
  .col-sm-4 {
    width: 30%;
  }
   .col-sm-3 {
    width: 21%;
    margin-left: 1%;
  }
  .col-sm-2 {
    width: 16.2%;
  }

}

h1 {
  margin: .67em 0;
  font-size: 2em;
}
.but{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 2px;
  padding-left: 10px;
  max-width: 100%;
  font-size: 14px;
  text-align: left;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 201px;
  cursor: pointer;
  line-height: 1.42857143;
  position: relative;
  left: 0px;
  transition: 0.5s; box-shadow:0 5px 5px 0 rgb(30, 119, 119),0 5px 15px 0 !important;
}

.but:hover{
  transition:0.5s;
  left: 12px;
  background-color: gold  !important;
  border-color: gold;
  text-decoration: none;
  font-weight: bold;
  box-shadow:0 5px 5px 0 rgb(119, 119, 0),0 5px 15px 0 !important;
}
@media (max-width: 1350px) {
.but:hover{
left: 0;
   }
 }

i.du {font-size: 1.5em;color: red}
i.au {font-size: 1.5em;}
i.al {font-size: 1.5em;}

i.bg {font-size: 4.0em;color: white}
i.ed {font-size: 1.2em;color: white}

.basic{
  border-radius: 5px;
  height: 100px;
}

.users{
  background:linear-gradient(to left, white, black); 
}
.posts{
   background:linear-gradient(to left, yellow, black); 
}
.comments{
   background:linear-gradient(to left, purple, black); 
}
.hhhh{
   background:linear-gradient(to left, orange, black); 
}

 /*=======================form control for input boxes==========================*/

  .form-control {
  display: block;
  width: 97%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: black;
  outline: 0;
  box-shadow: inset 0 1px 1px black, 0 0 8px black;
}

/*================================== input design ends============= */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover{
  color: #333;
  text-decoration: none;
}
.btn:active{
  background-image: none;
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btnactive{
  left: 0;
  background-color: orange !important;
}
.btnactive:hover{
  left: 0;
  background-color: orange !important;
  font-weight: normal;
  border-color:orange !important; 
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:focus{
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

/*=============================== search input box and btn =============================*/
.search_user{
  background-color0: red;
  width: 100%;
  height: 40px;
}
.search_user .form-control{
  width: 68%;
  float: left;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.search_user .btn{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-color: white;
}

/*=============================== alert system =============================*/
.alert {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 10px;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.details{
  width: 380px;
  height: 120px;
  background-color: white; 
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
 }
.bg-details{
  width: 480px;
  height: 220px;
}

.loader {
  border: 18px solid #f3f3f3;
  border-bottom: 18px solid #1C9F99;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation: spin 5s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#status_btn{
  margin:-20px ;
  margin-right: -40px;
  margin-left: -5px;
  width: 85px;
  height: 35px;
  border: none;
}
#edit_btn{
  margin:-20px;
  margin-right: -35px;
  margin-left: -6px;
  width: 75px;
  height: 35px;
  border: none;
  background-color: grey;
}
#edit_btn:hover{
  background-color: #28c6bb;
}
#edit_url{
  margin-right: 20px;
  text-decoration: underline;
}
#edit_url:hover{
  color: blue;
}

/*=============================== disabled items =============================*/
button[disabled],
html input[disabled] {
  cursor: default;cursor: not-allowed;
}
button[disabled],
.form-control[disabled],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 0.6;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}

/*=============================== password hint =============================*/
.warn{
  float:right;
  background-color: white;
  padding-right: 5px;
  padding-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 10px;
  margin-right: 11%;
}


/*================== creates rectangle for buttons====================*/
  .mybut {
  display: block;
  position:relative;
  width: 110px;
  padding-right:25px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  background:#bfbfbf; 
  text-decoration: none;
}
.mybut:hover{
  background-color: yellow;
}
 .mybut2 { 
  border-top-right-radius: 20px;
}
.mybut3 { 
  border-bottom-right-radius: 20px;
}
#mbr{
  padding-top: 3px;
}
.activ{
  background:#f3961c;
}
a{
  font-weight: bold;
  font-size: 15px;
  color:#000000;
}
a:hover{
  font-weight: bolder;
  text-decoration: none;
}


/* =============================================================================== */

#sug{
  width: 100%;
  height: 90%;
  background-color: black;
  color: white;
  border-radius: 5px;
  min-height: 90px;
}

#txt{
  color: black;
  background-color: #C4C4C4;
  padding-left: 10px;
  padding-right: 10px;
}

