
body{
	margin: 0;
	background-color: #E9E9E9;
}
#top{
width: 100%;
height: 70px;
background:linear-gradient(to left, teal,#005353,black);
color: black;
text-align: center;
color: white;
}
#top h1, p{
	margin: 0;
}

#top_left{
	padding-left: 10px;
	color: white;
	max-width: 100%;
	width: 100%;
	height: 100px;
}
.main {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
.left-design{
	background: linear-gradient(120deg, black, #005353,teal);
	height: 550px;
	border-radius: 10px;
	box-shadow:0 16px 24px 0 rgba(0,0,0,0.22),0 20px 55px 0 rgba(0,0,0,0.41)!important;
}
#dash{
	background-color: #1C9F99;
	padding-top: 0px;
	width: 100%;
	border-radius: 05px;
	color: white;
	padding: 01px;
	padding-left: 20px;
	box-shadow:0 6px 24px 0 rgba(0,0,0,0.22),0 20px 50px 0 rgba(0,0,0,0.41)!important;

}
#dash h4{
	margin: 7px;
	color: white;
	font-size: 22px;
    text-shadow: 4px 4px 4px #000000;
}
#content{
	box-shadow:0 16px 24px 0 rgba(0,0,0,0.22),0 20px 55px 0 rgba(0,0,0,0.41)!important;
	width: 102%;
	height: 490px;
	border-radius: 05px;
	background-color: #1C9F99;
}