  
  .blk{
    font-weight: bolder;
    width: 98.6%;
    height: 70px;
    display: block;
    font-size: 12px;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 3px;
    position: relative;border-radius: 5px;
  }
  .blk2{
    font-weight: bolder;
    width: 100%;
    height: 50px;
    display: inline-block;
    font-size: 12px;
    padding-top: 3px;
    position: relative;border-radius: 5px;
  }
  
#all_dim{
  margin-left: 6%;
  margin-right: 2%;
}
#dim{
  margin-left: 20%;
  margin-right: 20%;
}
    #nav_h{
      background-color: #AA00AA !important;
      transition: 1s;
    }
  }
   #top-fnt{
    font-size: 50px;
   }
    @media (max-width: 345px) {
 #top-fnt{/* font size used on top when phone is small. */
    font-size: 40px;
   }
   .hd-font{/* font size used on header when phone is small. */
    font-size: 12px;
   }
}
   .top-head{
      background-color: #333 ;
      height: 50px;
      width: 100%;
      top: 0;
   }
.side-nav{
  top: 0px;
}
#nav_h{
  background-color: #804097;
  width: 230px;
  height: 120px;
}
#nav_d{
  background-color: #333;
  width: 230px;
  height: 50px;
  color: white;
  font-size: 30px;
  font-family:sans;
  text-align: center;
}
.cl{
  background-color: #333;
  padding: 15px;
}
.cl:focus{
  background-color: black;
}

.big_cover{
background-color: #F3F3F3;
width: 100%;
height: 100%;
display: block;
font-size: 14px;
border-radius: 5px;
 }
 .bigdwn{
    background-color: #F3F3F3;
    width: 95.7%;
    height: 35px;
    padding-right: 10px;
    padding-top: 08px;border-radius: 5px;
  }
  .bcl{
    background-color: #F3F3F3;
    border-color: black !important;
    color: black;
  }
/*===================================side nav========================================*/
	
/*==============================side nav end=========================================*/
i.sm {font-size: 18px;}
i.lg {font-size: 26px;color: white;}

  @media only screen and (min-width : 992px) {
     .show{
  	display: none;
  } 
    }
/*=============================body design========================================*/
    .cover{
background-color: #F3F3F3;
width: 100%;
height: 200px;
display: inline-block;
 }
 .dep_m{
background-color: #F3F3F3;
width: 100%;
max-height: 210px;
display: block;
font-size: 14px;border-radius: 5px;
 }

  .hidetx{
     max-height: 120px;
    color: transparent;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
  }
  .dep_hidetx{
    height: 90px;
    color: transparent;
    overflow: hidden;
  }
  .dwn{
    background-color: #F3F3F3;
    width: 98.7%;
    height: 30px;
    padding-right: 10px;
    padding-top: 05px;
  }
  .dwn, .dall{width: 98.25%}
  .dwn2{
    background-color: #F3F3F3;
    width: 98.7%;
    height: 30px;
    padding-right: 10px;
    padding-top: 05px;border-radius: 5px;
  }
  .bn{
    height: 23px;
    width: 100px;
    background-color: #F3F3F3;
    color: black;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
  }
  .bn:hover{
    background-color: #00CCCC;
    transition: 1s;
  }
  #typ{
    background-color: grey;
    height: 10px;
  }



@media (min-width: 768px) {
   .col5{
    float: left;
  }

.col5{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 46.0%;
}

.col8{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 98%;
}
}

.new-btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border:none;
  border-width: 0px;
  border-radius: 4px;
  color: white;
  height: 50px;
}
.new-btn:hover{
	background-color: black;
}

/* ====================== modal begins here ==========================*/
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}
.modal.fade .modal-dialog {
          transition: transform .3s ease-out;
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
 transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-block{
  width: 100%;
}

/*=============================== alert system =============================*/
.alert {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 20px;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
